body,html {
    
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #170c23;
    color: #ddd;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column; 
}

.dança{
    display: none;
}

img{
    width: 300px;
    height: 300px;
    border: 5px solid #ffffff;   
}

.descricao{
    width: 300px;
    padding-top: 10px;
}

h2{
    margin-bottom: 5px;
    padding-top: 15px;
}

.duracao{
    width: 300px;
    margin-top: 25px;
}

.barra{
    width: 300px;
    height: 6px;
    border: 1px solid #eee;
    border-radius: 5px ;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
progress{
    height: 6px;
    width: 0%;
    background-color: #333;
}
.ponto{
    width: 20px;
    height: 20px;
    background-color: #eee;
    border-radius: 50%;
    margin-left: -10px;
}

.tempo{
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-top: 15px;
}

.player{
    width: 300px;
    display: flex;
    justify-content: space-around ;
    align-items: center;
    margin-top: 20px;
}

.botao-play, .botao-pause {
    font-size: 50px;
    cursor: pointer;
}
.botao-pause{
    display: none;
    cursor: pointer;
}
.setas{
    font-size: 40px;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.setas:hover{
   color:#00f675 ; 
}
.botao-play:hover{
    color:#00f675
}
.botao-pause:hover{
    color:#00f675
   
}
